@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

body {
  background: #f4f4f2;
  padding: 0 16px;
}
/* First Container */
header {
  background-color: #000000;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #e8e8e8;
  font-family: "Tangerine", cursive;
  font-weight: 200;
  font-size: 2.5rem;
}

/* Notes */
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 0.5rem;
  width: 15rem;
  margin: 1rem;
  float: left;
}

.note h1 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 100;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Footer */
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5;
  margin-top: 10px;
}

footer p {
  color: #ccc;
}
